article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    font-size: 1.6rem;
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #333333; }
  html .wrapper {
    margin: 0 auto; }

header {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #98FB98;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    transform: skewY(15deg);
    z-index: -10; }
  header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #98FB98;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    transform: skewY(-15deg);
    z-index: -10; }
  header .title {
    margin-top: 150px; }
  header form {
    width: 33%; }
    header form input {
      width: calc(50% - 10px);
      padding: 5px 10px;
      border: 1px solid #333333; }
    header form #userInput {
      margin-right: 5px; }

#displayShelters {
  margin-top: 15%; }
  #displayShelters .shelters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #displayShelters .shelters .shelter {
      width: calc(30% - 20px);
      text-align: center;
      border: 1px solid #333333;
      margin: 10px 10px 0 0;
      padding: 10px; }

#displayPets {
  padding: 100px 0; }
  #displayPets .pets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #displayPets .pets::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: #98FB98;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: skewY(-10deg);
      -ms-transform: skewY(-10deg);
      transform: skewY(-10deg);
      z-index: -10; }
    #displayPets .pets::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: #98FB98;
      -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      transform-origin: bottom left;
      -webkit-transform: skewY(5deg);
      -ms-transform: skewY(5deg);
      transform: skewY(5deg);
      z-index: -10; }
    #displayPets .pets .pet {
      width: calc(30% - 20px);
      text-align: center;
      border: 1px solid #333333;
      margin-top: 10px;
      margin-right: 10px;
      padding: 10px; }
      #displayPets .pets .pet img {
        width: 100%;
        display: block;
        height: 400px; }
    #displayPets .pets .petDescription {
      text-align: left; }
